//
//  Staging.xcconfig
//  SwiftModul
//
//  Created by wangsicheng on 2019/11/13.
//  Copyright © 2019 fenrir-cd. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Pods/Target Support Files/Pods-SwiftModul/Pods-SwiftModul.debug staging.xcconfig"
#include "Pods/Target Support Files/Pods-SwiftModul/Pods-SwiftModul.release staging.xcconfig"
#include "Generated.xcconfig"
