//
//  ProductionTarget.xcconfig
//  ConfigurationDemo
//
//  Created by wangsicheng on 2021/4/1.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "BaseTarget.xcconfig"
PRODUCT_BUNDLE_NAME = $(inherited)
PRODUCT_BUNDLE_IDENTIFIER = test.SwiftModul
